POSTGRES_USER=securebase
POSTGRES_PASSWORD=securebase
POSTGRES_DB=securebase

JWT_SECRET=supasecret
DATABASE_URL=postgres://securebase:securebase@localhost:5432/securebase
GOTRUE_URL=http://localhost:9999
AUTH_API_HOST=0.0.0.0:8080
ACL_API_HOST=0.0.0.0:8081
